* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 54px -15px rgba(0, 0, 0, 0.66)
}

.choice_header {
    display: flex;
    font-size: 13px;
    width: 40%;
    justify-content: space-around;align-items: center;
}

.choice_header a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.first {
    background-color: #f3f5f5;;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 200px 100px 100px; */
    padding: 250px 200px 100px;
    font-size: 25px;
    font-weight: 600;
}

.first_title {
    padding-bottom: 20px;
    font-size: 47px;
}

.first button {
    width: 127px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    margin-top: 47px;
    background: darkseagreen;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.first button a {
    text-decoration: none;
    color: black;
}

#second {
    /* background-color: #fff9c4; */
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px;
}

.title {
    font-size: 47px;
    padding-bottom: 30px;
}

.bloc {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px;
}

.description {
    width: 77%;
    display: flex;
    margin: 0 auto;
    font-size: 19px;
    padding: 26px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 2px rgb(187, 187, 187);
}

#third {
    background-color: #f3f5f5;
}

.bloc_third {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.bloc_front {
    width: 90%;
}

.bloc_commande {
    width: 40%;
    margin-top: 44px;
}

.bloc_commande div, .bloc_outils div {
    margin-top: 55px;
}

.bloc_outils {
    width: 40%;
    margin-top: 44px;
}

.background {
    background-color: white;
    padding: 30px;
    /* width: 40%; */
    height: auto;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* .background:hover {
    transform: scale(1.08); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
} */

.background div {
    width: 100%;
    height: 100%;
}

.logo_html {
    width: 128px;
}

.logo_css {
    width: 95px;
}

.logo_sass {
    width: 102px;
}

.logo_js {
    width: 105px;
}

.logo_react {
    width: 91px;
}

.logo_redux {
    width: 114px;
}

.logo_terminal {
    width: 135px;
}

.logo_git {
    width: 82px;
}

.logo_vs_code {
    width: 71px;
    margin-right: 59px;
}

.logo_github {
    width: 69px;
}

#fifth {
    background-color: #f3f5f5;
}

/* .projet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.bloc_projet {
    /* border: 1px solid;
    border-radius: 15px; */
    display: flex;
    padding: 23px;
    /* width: 300px; */
    /* height: 200px; */
    margin-bottom: 33px;
    box-shadow: 6px 6px 29px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.bloc_projet img {
    width: 316px;
    height: 200px;
    object-fit: cover;
}

.bloc_projet span {
    width: 100%;
    margin: 20px;
}

.bloc_title {
 font-size: 33px;
 margin-bottom: 10px;
}

.bloc_description {
    font-size: 13px;
}

.bloc_projet button a {
    text-decoration: none;
    color: black;
}

.bloc_projet button {
    width: 110px;
    padding: 7px;
    margin-top: 19px;
    background: darkseagreen;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.logoContact {
    display: flex;
    width: 35%;
    margin: 0 auto;
}

.logoContact svg {
    width: 40px;
    margin: 30px 20px;
}

@media only screen and (max-width: 992px) {
    .name_header {
        width: 30%;
    }

    .choice_header {
        width: 55%;
        /* justify-content: space-between; */
    }

    /* .choice_header a {
        text-align: right;
    } */

    .first_title p {
        font-size: 18px;
        font-weight: 100;
    }

    .logo_vs_code, .logo_terminal {
        display: flex;
        flex-direction: column;
        margin: 16px auto;
    }

    #fourth {
        padding: 100px 45px 0px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 20px;
    }

    .choice_header {
        width: 70%;
        font-size: 11px;
    }

    .first {
        padding: 150px 50px 70px;
    }

    .first_title {
        font-size: 35px;
    }

    .first p {
        font-size: 19px;
        font-weight: 100;
    }

    .title {
        font-size: 38px;
    }

    .description {
        width: 85%;
        font-size: 16px;
    }

    .bloc_front {
        padding-bottom: 20px;
    }

    .logo_html {
        width: 100px;
    }
    
    .logo_css {
        width: 71px;
    }
    
    .logo_sass {
        width: 75px;
    }
    
    .logo_js {
        width: 82px;
    }
    
    .logo_react {
        width: 66px;
    }
    
    .logo_redux {
        width: 87px;
    }
    
    .logo_terminal {
        width: 115px;
    }
    
    .logo_git {
        width: 73px;
        padding-bottom: 10px;
    }
    
    .logo_vs_code {
        width: 56px;
        margin-right: 50px;
    }
    
    .logo_github {
        width: 60px;
    }

    .bloc_commande, .bloc_outils {
        padding: 0;
    }

    .bloc_commande p {
        padding: 35px 0 0;
    }

    .bloc_outils p {
        padding: 35px 0 24px;
    }

    .bloc_commande div, .bloc_outils div {
        margin-top: 0;
    }

    .bloc {
        padding: 40px;
    }

    .bloc_title {
        font-size: 27px;
    }

    .bloc_description {
        font-size: 11px;
    }

    .bloc_projet {
        display: block;
        padding: 0;
        box-shadow: none;
    }

    .bloc_projet button {
        width: 89px;
        font-size: 11px;
    }

    .bloc_projet img {
        width: 100%;
        height: auto;
    }

    #second {
        padding: 40px 0px;
    }

    #fourth {
        padding: 40px 25px 0px;
    }

    .logoContact {
        width: 100%;
    }

    .logoContact svg {
        width: 30px;
    }
}